{% extends 'base.html' %}
{% block title %}单井数据采集系统:子模块1 {% endblock %}
{% block content %}
<!--     <div style="width: 100%;height: 200px;background-color: #ccc">  
        <h1>覆盖后的内容</h1>
        <h2>
            {{string}}
            {% for i in list%}
            {{i}}
            {% endfor %}
        </h2>
    </div> -->
    <div style="width: 100%;height: 200px;background-color: #666">
        <h1>通过网址传参获得数据是：</h1>
        <h2 style="color: #eee">
            {{c}}
        </h2>
        <a href="{% url 'add2' 4 5 %}">link</a>
    </div>
{% endblock %}