{% extends "mainboard_base.html" %}
<!-- 继承父模板 -->
{% load staticfiles %}
<!-- 加载静态文件 -->
{% block content-mainboard %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">
                权限管理
            </h2>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>用户名</th>
                        <th>姓名</th>
                        <th><a href="#">部门<span class="glyphicon glyphicon-edit"></span></a></th>
                        <th><a href="#">职位<span class="glyphicon glyphicon-edit"></span></a></th>
                        <th><a href="#">权限<span class="glyphicon glyphicon-edit"></span></a></th>
                        <th>
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addWellbasicDataModal">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{item.wellNo}}</td>
                        <td>{{item.wellName}}</td>
                        <td>{{item.dimension}}</td>
                        <td>{{item.longitude}}</td>
                        <td>
                          <button type="button" class="btn btn-primary btn-sm" value="{{item.wellNo}}">
                                <span class="glyphicon glyphicon-edit"></span>
                          </button>
                          <a href="{% url 'alonewell:query_well_del' item.wellNo %}">
                            <button type="button" class="btn btn-primary btn-sm" value="{{item.wellNo}}">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                          </a>                
                        </td>
                    </tr>            
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}