{% load staticfiles %}
<!-- 加载静态文件 -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="{% static 'img/ant.jpg' %}" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>{{username}}</p>
        <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
      </div>
    </div>
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
      </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">主显示及控制面板</li>
      <li class="active treeview">
        <a href="#">
          <i class="fa fa-dashboard"></i> <span>单井图示</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/index"><i class="fa fa-circle-o"></i> 单井参数</a></li>
          <li class="active"><a href="/index"><i class="fa fa-circle-o"></i> 单井面板</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-files-o"></i>
          <span>汇总分析</span>
          <span class="pull-right-container">
            <span class="label label-primary pull-right">4</span>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="pages/layout/top-nav.html"><i class="fa fa-circle-o"></i> 汇总数据</a></li>
          <li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o"></i> 汇总数据</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-pie-chart"></i>
          <span>总体设置</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/alonewell/addwell"><i class="fa fa-circle-o"></i> 添加新井</a></li>
          <li><a href="/alonewell/add_operate_parameters"><i class="fa fa-circle-o"></i> 采集数据手动添加</a></li>
          <li><a href="/alonewell/query_well"><i class="fa fa-circle-o"></i> 井位信息汇总</a></li>
          <li><a href="/alonewell/addwell"><i class="fa fa-circle-o"></i> 采集数据汇总</a></li>
          <li><a href="/alonewell/test"><i class="fa fa-circle-o"></i> 暂时测试使用</a></li>
        </ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>