{% extends "login_base.html" %}
{% block login-title%}
用户注册
{% endblock%}
{% block login-form %}
   <form action="#" method="post" class="form-horizontal" role="form">
        <div class="form-group">
            <label for="signup_username" class="col-sm-3 control-label">用户名</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="signup_username" placeholder="邮箱/员工编号">
            </div>
        </div>
        <div class="form-group">
            <label for="signup_password" class="col-sm-3 control-label">密码</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="signup_password" placeholder="密码">
            </div>
        </div>
        <div class="form-group">
            <label for="signup_repassword" class="col-sm-3 control-label">重复密码</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="signup_repassword" placeholder="重复密码">
            </div>
        </div>
        <div class="form-group">
            <label for="signup_name" class="col-sm-3 control-label">姓名</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="signup_name" placeholder="密码">
            </div>
        </div>
        <div class="form-group">
            <label for="signup_apartment" class="col-sm-3 control-label">部门</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="signup_apartment" placeholder="密码">
            </div>
        </div>
        <div class="form-group">
            <label for="signup_work" class="col-sm-3 control-label">职位</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="signup_work" placeholder="密码">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary btn-block">注册</button>
            </div>
        </div>
    </form>
{% endblock %}